@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Poppins', system-ui, sans-serif;
}
